.movieDetail img{
  width: 350px;
  max-width: 100%;
  height: auto;
}

.moviesItem img {
  width: 180px;
  max-width: 100%;
  height: auto;
  max-height: 235px;
}

div > a, a:hover {
  text-decoration:none;
  color: black;
}